/* Add a black background color to the top navigation */
 body{
  margin: auto;
  max-width: 960px;
 }
  .topnav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .navlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .topnav a {
    opacity: .5;
    float: left;
    color: rgb(37, 37, 37);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav img {
    height: 48px;
    padding-right: 10px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #470101;
    color: white;
  }
  /* index.html */
  .descblock {
    background-image: url("../img/descbloc.jpeg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .desctext {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .card{
      height: 200px;
      margin-top: 10px;
      overflow: hidden; 
      
  }
  .card-text {
    height: 200px;
    padding-left: 10px;
    background-image: url("../img/user2back.jpeg");
    background-color: #cccccc;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
  }
  .card > img{
      height: 200px;
      float: left;
      margin-right: 10px;
  }
  .card > p{
      padding: 5px;
  }

  /* photos.html */

  .photo img {
    width: 100%;
    height: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 0.5em;
  }
  
  .photo-listing {
    position: relative;
    }
  
  .photo {
    line-height: 0;
    height: 550px;
    overflow: hidden;
  }
  
  .photo img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }

  .photo-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .photo-title img {
    width: 40px;
    height: 40px;
    overflow:hidden;
    border-radius: 50%;
    margin-right: 10px;
    
  }
  
  .photo-listing:hover .photo-title {
    opacity: 1;
  }
  
  .photo-listing:hover .photo img {
    filter: blur(2px);
  }
  
  /* for touch screen devices */
  @media (hover: none) { 
    .photo-title {
      opacity: 1;
    }
    .photo img {
      filter: blur(2px);
    }
  }

  /* photo.html */
  .photo-content{
    display: grid;
    /* align-items: center; */
    /* justify-content: center; */
    overflow: hidden;
    grid-gap: 10px;
  }
  .photo-content img{
    width: 100%;
  }
  .photo-desc {
    padding-left: 30px;
  }
  i {
    font-size: 20px;
    margin-top: 10px;
  }
  .photo-desc img{
    width: 40px;
    height: 40px;
    overflow:hidden;
    border-radius: 50%;
    margin-right: 10px;
  }
  .photo-desc a {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 600px){
    .photo-content{
        grid-template-columns: 100%;
    }
  }
  @media screen and (min-width: 600px){
    .photo-content{
        grid-template-columns: 50% 50%%;
    }
  }
  @media screen and (min-width: 900px){
    .photo-content{
        grid-template-columns: 50% 50%;
    }
  }

  /* user.html */
  .user-content {
    text-align: center; 
  }

  .image-container img{
    height: 150px;
    /* width: 40px;
    overflow:hidden; */
  }
  .user-data {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
  .user-data h4{
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
  }
  /* about.html */

  .image-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .image-row-container {
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    width: 33%;
    height: 20%;
  }
  .image-row-container img{
    height:100%;
    width:100%;
  }